# Scapes Website - Kamal Deployment Configuration
service: scapes-website

image: <%= ENV["DOCKER_REGISTRY_USERNAME"] %>/scapes-website

servers:
  web:
    hosts:
      - <%= ENV["DEPLOY_HOST"] %>

proxy:
  ssl: true
  hosts:
    - <%= ENV["WEBSITE_HOST"] %>
    - <%= ENV["WEBSITE_HOST_ALIAS"] %>
  app_port: 3000
  healthcheck:
    path: /
    interval: 5
    timeout: 30

registry:
  username: <%= ENV["DOCKER_REGISTRY_USERNAME"] %>
  password:
    - KAMAL_REGISTRY_PASSWORD

builder:
  arch: amd64
  context: ..
  dockerfile: ../Dockerfile.website

env:
  clear:
    NUXT_PUBLIC_API_URL: <%= ENV["NUXT_PUBLIC_API_URL"] %>
  secret:
    - NUXT_PUBLIC_RPC_URL

ssh:
  user: root
