{
	admin off
}

:5080 {
	handle /health {
		respond "OK" 200
	}

	@options method OPTIONS
	handle @options {
		reverse_proxy localhost:5001
	}

	handle {
		basic_auth {
			{env.ADMIN_USER} {env.ADMIN_PASSWORD_HASH}
		}
		reverse_proxy localhost:5001
	}
}
