# Import sales every 10 minutes
*/10 * * * * pnpm --dir /app/indexer cli import:sales --all

# Import listings every hour
0 * * * * pnpm --dir /app/indexer cli import:listings --slug scapes
5 * * * * pnpm --dir /app/indexer cli import:listings --slug twenty-seven-year-scapes

# Process merge images every minute
* * * * * pnpm --dir /app/indexer cli process:merge-images --batch-size 50
