@layer variables {
  :root {
    --button-border-color-highlight: var(--color);
  }
}

@layer components {
  :root {
    --button-border-color-highlight: var(--color);
  }

  button,
  a.button {
    background: var(--background);
    width: mint-content;

    &:not(.unstyled) {
    }
  }
}
