/* Dependencies */
@import './fonts.css';

/* Variables */
@import './variables.css';


html {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

/* Override dialog backdrop blur with grayscale */
.dialog::backdrop {
  backdrop-filter: contrast(0.4) saturate(0.1) !important;
}
