:root {
  --rem: 13px;

  --font-family: 'Space Mono', sans-serif;
  --text-transform: uppercase;

  --border-width: var(--grid-gutter, 1px);
  --border-width-lg: calc(2 * var(--grid-gutter, 1px));

  --box-shadow: 0 0 0 var(--border-width) #000;
  --box-shadow-drop:
    var(--border-width) var(--border-width) 0 calc(var(--border-width)) #000,
    var(--box-shadow);

  --page-inner-width: calc(100vw - var(--grid-gutter) * 2);
  --content-width-small: min(
    var(--page-inner-width),
    calc(var(--scape-width) * var(--content-columns, 3) + var(--grid-gutter) * (var(--content-columns, 3) - 1))
  );
  --content-width: min(
    var(--page-inner-width),
    calc(var(--scape-width) * var(--content-columns, 5) + var(--grid-gutter) * (var(--content-columns, 5) - 1))
  );

  --border-color: var(--color);
  --border-color-highlight: var(--color);
  --button-color-highlight: var(--color);

  /* FIXME: Find way to set default sizes */
  --scape-width: 144px;
  --scape-height: 48px;
  --grid-gutter: 2px;
  --grid-columns: 5;
  --content-columns: 4;
  --detail-columns: 3;
  --grid-margin-offset: 0.5rem;

  --scape-width-gutter: calc(var(--scape-width) + var(--grid-gutter));
  --scape-height-gutter: calc(var(--scape-height) + var(--grid-gutter));
}

