# General
NUXT_PUBLIC_API_URL=

# Deployment Variables
DOCKER_REGISTRY_USERNAME=
DEPLOY_HOST=
WEBSITE_HOST=
WEBSITE_HOST_ALIAS=

# EVM
NUXT_PUBLIC_EVM_WALLET_CONNECT_PROJECT_ID=
NUXT_PUBLIC_EVM_CHAINS_MAINNET_RPCS=
NUXT_PUBLIC_EVM_ENS_INDEXERS=

